{% import '_macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Real Estate Dashboard</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="/static/stylesheets/style.css" />

    <link rel="shortcut icon" href="../static/images/favicon.ico" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <header id="header">
      <nav class="navbar navbar-expand">
        <div class="container-fluid text-center row">
          <ul class="nav col justify-content-center">
            <li class="nav-item"><a href="" class="nav-link">Buy</a></li>
            <li class="nav-item"><a href="" class="nav-link">Sell</a></li>
            <li class="nav-item"><a href="" class="nav-link">Rent</a></li>
          </ul>
          <a href="{{ url_for('homepage') }}" class="navbar-brand col">
            <img src="/static/images/logo.png" alt="logo" class="logo" />
          </a>
          <ul class="nav col justify-content-center">
            {% if g.user %}
            <li class="nav-item">
              <a href="{{ url_for('favorites_list')}}" class="nav-link"
                >Favorite Homes</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
              <!-- data-bs-toggle="modal" used to toggle a modal, making it appear or disappear. -->
              <!-- data-bs-target="#target-id" specifies the target element to be affected by the action triggered by the current element. For example, it can be used to specify the modal to be shown or hidden. -->
              <button
                type="button"
                class="nav-link"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop-login"
              >
                Login
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop-signup"
              >
                Sign up
              </button>
            </li>

            <!-- MODAL -->
            <!-- backdrop is set to static, the modal will not close when clicking outside of it. -->
            <div
              class="modal fade"
              id="staticBackdrop-login"
              data-bs-backdrop="static"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Login</h1>
                    <!-- data-bs-dismiss="modal" used to dismiss a modal, closing it. -->
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                    ></button>
                  </div>

                  <div class="modal-body">
                    <form
                      action="{{url_for('login')}}"
                      method="POST"
                      id="user_form"
                    >
                      {{ macros.render_form(loginForm, prefix='login-') }}

                      <div class="d-grid gap-2">
                        <button
                          class="btn btn-primary btn-block btn-lg"
                          id="login-btn"
                        >
                          Log in
                        </button>
                        <a href="">Forgot your password?</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="modal fade"
              id="staticBackdrop-signup"
              data-bs-backdrop="static"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Sign Up</h1>
                    <!-- data-bs-dismiss="modal" used to dismiss a modal, closing it. -->
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                    ></button>
                  </div>

                  <div class="modal-body">
                    <!-- container for error messages -->
                    <form
                      action="{{ url_for('signup') }}"
                      method="POST"
                      id="signup-form"
                    >
                      {{ macros.render_form(signupForm, prefix='signup-') }}

                      <div class="d-grid gap-2">
                        <button
                          class="btn btn-primary btn-block btn-lg"
                          id="signup-btn"
                        >
                          Sign Up
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main id="main-content">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </main>

    <footer id="footer" class="my-4 text-center">
      <p>&copy; 2024 Real Estate Dashboard</p>
    </footer>

    <!-- Getting Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/ac8a886e27.js"
      crossorigin="anonymous"
    ></script>

    <!-- <script src="/static/app.js"></script> -->
  </body>
</html>
