{% extends 'base.html' %} {% block content %}
<h1 class="my-4 text-center">Profile Setting</h1>

<div class="w-75 container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Personal Info</h5>
      <form action="{{ url_for('profile') }}" method="POST">
        {{ macros.render_form(form) }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
      <h5 class="card-title my-4">Sign In & Security</h5>
      <form action="">
        {{ macros.render_form(change_password_form) }}
        <button
          formmethod="POST"
          formaction="{{ url_for('change_password') }}"
          class="btn btn-danger"
        >
          Change Password
        </button>

        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#delete-user"
        >
          Delete Account
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="delete-user"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this account?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <form action="{{ url_for('delete_user') }}" method="POST">
          <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
